body{
    background-repeat: repeat,no-repeat;
    background-image: url(random.jpg);
    background-size: 100% ;
    overflow: visible;
}
.heading{
    text-align: center;
    color: rgb(5, 238, 75);
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: left;
    color: black;
    font-size: large;
    font-weight: 700;
}
mark {
    background-color: rgb(96, 228, 245);
    color: black;
}
div {
    background-color:rgba(207, 170, 102, 0.863);
    width: 80%;
    border: 5px solid rgb(231, 155, 12);
    padding: 30px;
    margin: 20px;
    
  }

#inputs{
    font-weight: 500;
    color: rgb(8, 7, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    float: left;
}
#button{
    color: rgb(15, 15, 14);
    font-weight: 550;
    
    
    
}
