<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Linear Congruential Generator & Linear Feedback Shift Register</title>
        <link rel="stylesheet" href="main.css" >
    </head>
    <body>
        <h1 class="heading"><mark>Pseudo-Random Number Generator</mark></h1>
        <br>
        <div>
            <p>Linear Congruential Generator(LCR):</p>
            <form action="" method="post">
                <label for="var_1" id="inputs" style="padding-left: 10px;">Xo:</label>
                <input type="number" id="inp1" name="var_1" placeholder="Enter the seed value" style="position: var(40px);">
                <br>
                <br>
                <label for="var_1" id="inputs" style="padding-left: 10px;">m :</label> 
                <input type="number" id="inp2" name="var_1" placeholder="Enter the Modulus value" style="position: var(40px);">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 15px;">a :</label>
                <input type="number" id="inp3" name="var_1" placeholder="Enter the Multiplier value">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 15px;">c :</label>
                <input type="number" id="inp4" name="var_1" placeholder="Enter the increment value">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 15px;">No.of Random Numbers :<br>
                                                                           to be Generated</label>

                <input type="number" id="inp5" name="var_1" placeholder="No of random numbers">
                <br><br><br>
                <input type="submit" id="button" name="run_button" style="padding: 2x;">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 5px;">Generated Numbers:</label>
                <textarea id="inp6" name="var_3"  style="margin: 0px; width:500px;height: 70px;"></textarea>
            </form>
        </div>
        <br>
        <div>
            <p>Linear Feedback Shift Register(LFSR):</p>
            <form action="" method="post">
                <label for="var_1" id="inputs" style="padding-left: 10px;">Seed :</label> 
                <input type="number" id="inp7" name="var_1" placeholder="Seed value(Binary)" style="position: var(40px);">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 10px;">Taps :</label>
                <input type="text" id="inp8" name="var_1" placeholder="taps(seperated by space)">
                <br><br>
                <br><br>
                <input type="submit" id="button" name="run_button" style="padding: 2x;">
                <br><br>
                <label for="var_1" id="inputs" style="padding-left: 10px;">Generated Bits:</label>
                <textarea id="inp10" name="var_3" style="margin: 0px; width: 200px;;height: auto;"></textarea>
            </form>
        </div>
    
    </body>
</html>